body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgba(0, 0, 0, 0.6) url('https://images.pexels.com/photos/799137/pexels-photo-799137.jpeg');
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  margin: 0;
  padding: 0;
}

.nav {
  padding-top: 5px;
  padding-left: 2vw;
  padding-right: 5vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.button2 {
  padding: 8px 15px;
  color: #fff;
  background-color: red;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.content {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 15%;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.mail {
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.mail input {
  outline: none;
  border: none;
  padding: 12px 10px;
  font-size: 1em;
}

.mail a {
  background-color: #e50914;
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
